body {
  background-image: url('images/file.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  color: rgb(221, 137, 10);
  margin-top: 3.5em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  width: 70%;
  height: 70%;
}
p{
  font-size: 30px;
}
.joke-container{
  
}

.ai-gen {
  width: 512px;
  height: 512px;
}